@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-VariableFont_wght.ttf") format('truetype');
  font-weight: 400 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Italic-VariableFont_wght.ttf") format('truetype');
  font-weight: 400 800;
  font-style: italic;
}

:root {
  font-family: 'Roboto';
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;

}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  background-color: #daedff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}